<table width="600" align="center" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<p><img src="http://www.blogodisea.com/wp-content/uploads/2013/10/jesus-bailarin.gif" alt="Jesús Balarín" style="display:block;margin:auto"></p>
			<p style="font-weight:600">Ha llegado la siguiente consulta:</p>
			<p>Nombre: {{nombre}}</p>
			<p>E-Mail: {{correo}}</p>
			<p>Asunto: {{asunto}}</p>
			<p>Consulta:</p>
			<blockquote style="color:darkviolet">{{mensaje}}</blockquote>
		</td>
	</tr>
</table>